@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  cursor: default !important;
}

::selection {
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  scroll-padding-top: 6rem;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
  background-color: #f2a3b3;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #101820;
}

.app-content {
  opacity: 0;
}

.app-content.fade-in {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

a {
  cursor: pointer !important;
}


/* Nav Styles */

.nav-body-div {
  width: 100%;
  height: 16vh;
  position: fixed;
  top: 0;
  transition: top .75s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  margin: 4vw;
}

.menu-item {
  font-size: 2.15vw;
  font-weight: 300;
  display: inline-block;
  margin: 0 1.25vw;
  border-bottom: 2px solid #f2f2f2;
  padding: 0;
}
.menu-item:hover {
  color: #f2a3b3 ;
  border-bottom: 2px solid #101820;
  cursor: pointer !important;
}

.menu-item-home {
  font-size: 2.15vw;
  font-weight: 300;
  display: inline-block;
  margin: 0 1.25vw;
  border-bottom: 2px solid #f2f2f2;
  padding: 0;
}

.menu-item-home-span:hover {
  color: #f2a3b3 ;
  border-bottom: 2px solid #101820;
  cursor: pointer !important;
}

#menu-link {
  text-decoration: none;
  color: #101820;
}

#menu-link:hover {
  color: #f2a3b3 ;
}

.nav-resume-link {
  width: auto;
  color: #101820;
  padding: 0;
  margin: 0;
}

#resume-arrow {
  width: 1.65vw;
  background-color: transparent;
}


/* Clock Styles */

.clock-div {
  margin: 4vw;
  font-size: 2.15vw;
  font-weight: 300;
}


/* Header Styles */

.header-body-div {
  height: 100vh;
  margin: 8vw 0 8vw 8vw;
  display: flex;
  align-items: center;
}

.header-text {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  width: 80%;
  font-size: 10.5vw;
  line-height: 1;
  letter-spacing: -.05vw;
  font-weight: 400;
  color: #101820;
  z-index: 900;
}

#header-span {
  font-weight: 400;
}


/* Bio Styles */

.bio-body-div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
}

.bio-content-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bio-img-div {
  width: 35vw;
  border-radius: 44px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 15px 0px #c8c6c6;
  transition: all .25s ease-in-out;
}

.bio-img-div:hover {
  box-shadow: 0 40px 90px -5px #b3b2b2;
  transition: all .25s ease-in-out;
}

.bio-img-div img {
  display: block;
  width: 100%;
  height: 100%;
  filter: grayscale(.3);
  transition: transform .5s, filter .5s ease-in-out;
}
.bio-img-div img:hover {
  transition: transform .5s, filter .5s ease-in-out;
}

.bio-text-div {
  width: 35vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.bio-text {
  font-size: 2.25vw;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

.link {
  font-size: 2.25vw;
  font-weight: 300;
  color: #101820;
}

#bio-link {
  color: #101820;
}

#bio-link:hover {
  color: #f2a3b3 ;
  text-decoration: underline #101820;
}

#reach-out-link {
  font-size: 2.5vw;
  font-weight: 300;
  color: #101820;
  border: none;
  text-decoration: underline #101820;
}

#reach-out-link:hover {
  color: #f2a3b3;
  text-decoration: underline #101820;
}


/* Featured Styles */

.featured-body-div {
  margin: 6rem;
  padding: 0;
}

.sample-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sample-img-div img {
  display: block;
  width: 38vw;
  height: auto;
  margin: 6vh auto;
  border-radius: 28px;
  box-shadow: 0 10px 15px 0px #d0cece;
  transition: all 0.5s, filter 0.5s ease-in-out;
}

.sample-img-div:hover img {
  box-shadow: 0 40px 90px -5px #e4e4e4;
  transition: all 0.5s, filter 0.5s ease-in-out;
  cursor: pointer !important;
}

.sample-img-div {
  position: relative;
}

.sample-text-div {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sample-name-text {
  font-size: 2.25vw;
  font-weight: 300;
  margin: 0;
  text-align: start;
  border-bottom: 2px solid #f2f2f2;
}

.sample-name-text:hover  {
  color: #f2a3b3;
  border-bottom: 2px solid #101820;
  cursor: pointer !important;
}

#sample-link {
  text-decoration: none;
  color: #101820;
}

.sample-text {
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1.35;
  color: #7a7a7a;
  margin-top: 2vh;
}



/* Select Projects Styles */

.select-featured-body-div {
  margin: 5rem;
  padding: 0;
}

.select-body-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;
  margin: 7rem;
}

.select-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-section-info {
  width: auto;
  border-radius: 28px;
  box-shadow: 0 10px 15px 0px #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#top-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.select-section-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.select-section-info-2 {
  width: auto;
  margin: 1vw;
  border-radius: 28px;
  box-shadow: 0 10px 15px 0px #d1d1d1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#mid-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.select-section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.select-section-info-3 {
  display: flex;
  flex-direction: row;
}

.projects-sub-header-div {
  margin-top: 4vh;
  margin-bottom: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#laguage-types {
  width: 8vw;
  height: auto;
  font-size: 1vw;
  padding: 1vw;
  color: #f2f2f2;
  background-color: #000;
  border-radius: 28px;
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-img {
  width: 100%;
  height: 100%;
  margin: 4vh 2vw;
  border-radius: 14px;
  box-shadow: 0 10px 15px 0px #d1d1d1;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.section-img-mobile {
  width: auto;
  margin: 4vh 2vw;
  border-radius: 14px;
  box-shadow: 0 10px 15px 0px #d1d1d1;
}

#mobile-img {
  display: block;
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.sample-img-div:hover img {
  box-shadow: 0 40px 90px -5px #b5b5b5;
  transition: all 0.5s, filter 0.5s ease-in-out;
}

.featured-link-text {
  font-size: 5vw;
  font-weight: 300;
  color: #101820;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #f2f2f2;
}

.featured-link-text:hover {
  color: #f2a3b3;
  border-bottom: 2px solid #101810;
  cursor: pointer !important;
}

#featured-link {
  text-decoration: none;
}


/* Footer Styles */

.footer-body-div {
  height: 24vw;
  width: 100%;
  background-color: #101820;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  bottom: 0;
}

#all-pro {
  width: 16vw;
  font-size: 4vw;
  font-weight: 400;
}

.footer-logo {
  font-size: .75vw;
  padding: 0;
  margin-top: 5vw;
  color: #c7c7c7;
}

.footer-text {
  font-size: 1.75vw;
  font-weight: 300;
  text-decoration: none;
  color: #e0e0e0;
  border-bottom: 1px solid #101820;
}

.footer-text:hover {
  color: #f2a3b3 ;
}

.projects-link {
  font-size: 1.75vw;
  text-decoration: none;
}

.projects-link:hover {
  border-bottom: 1px solid #e0e0e0;
}

.footer-text-tag {
  font-size: 1.75vw;
  font-weight: 300;
  color: #e0e0e0;
  border-bottom: 1px solid #101820;
}

.footer-text-tag:hover {
  color: #f2a3b3 ;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer !important;
}

.tag {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 300;
  border-bottom: 1px solid #101820;
}
.tag:hover {
  color: #f2a3b3 ;
  border-bottom: 1px solid #e0e0e0;
}


/* Projects Styles */

.projects-body-div {
  margin: 6rem;
}

.projects-sub-header {
  font-size: 2.25vw;
  font-weight: 300;
}

.projects-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 30vh;
  transition: all .5s, filter .5s ease-in-out;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects-image {
  width: 100%;
  border-radius: 2px;
  filter: brightness(.8);
  box-shadow: 0 10px 15px 0px #d1d1d1;
  transition: all .25s, filter .25s ease-in-out;
}
 .projects-image:hover {
  filter: brightness(1);
  transition: all .25s, filter .25s ease-in-out;
  cursor: pointer !important;
}

.projects-image-text {
  font-size: 1.5vw;
  font-weight: 400;
  padding: 0;
  color: #000;
  margin-left: .25vw;
  margin-top: .25vh;
  cursor: pointer !important;
}

#project-a {
  text-decoration: none;
}

.search-bar {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 2.25vw;
  font-weight: 300;
  padding: 8px;
  border: none;
  outline: none;
  cursor: text !important;
}



/* Sub-menu Styles */

.sub-menu-list {
  padding: 0;
}

.sub-menu-item {
  font-size: 2vw;
  font-weight: 300;
  display: inline-block;
}
.sub-menu-item:hover {
  color: #f2a3b3;
  border-bottom: 2px solid #101820;
}


/* extra Styles */

.line-div {
  width: 100%;
  height: 1px;
  background-color: #101820;
  margin: 1rem auto;
}

#disabled {
  color: #969696;
  border-bottom: #e0e0e0;
}

#disabled:hover {
  text-decoration: none;
}

::placeholder {
  color: #101820;
}

.hide {
  display: none;
}






/* Screen sizes Styles */

@media only screen and (max-width: 2900px) {
  .projects-container {
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 30vh;
  }
  .projects-image {
    width: 30vh;
    height: auto;
    margin: .25vw;
  }
}

@media only screen and (max-width: 1700px) {
  .projects-container {
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 30vh;
  }
  .projects-image {
    width: 30vh;
    height: auto;
    margin: .25vw;
  }
}


@media only screen and (max-width: 1500px) {
  .projects-container {
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 34vh;
  }
  .projects-image {
    width: 24vw;
    height: auto;
    /* margin: .25vw; */
  }
}

@media only screen and (max-width: 1024px) {
  .header-body-div {
    margin: 12vh 4vw 2vh 4vw;
  }
  .header-text {
    width: 100%;
    font-size: 6em;
    line-height: 1.25;
  }
  .bio-body-div {
    margin: 0 auto;
    height: 100%;
  }
  .bio-content-div {
    align-items: center;
    padding: 4vw;
    height: 100vh;
  }
  .bio-img-div {
    max-width: 60vw;
    margin-top: 1rem;
  }
  .bio-text-div {
    margin-top: 6vh;
  }
  .bio-text {
    font-size: 24px;
    line-height: 1.15;
  }
  .sample-img-div img {
    width: 90%;
  }
  .sample-text-div {
    width: 80%;
  }
  .sample-text {
    font-size: 24px;
  }
  .sample-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .select-featured-body-div {
    margin: 3rem;
    width: 90%;
  }
  .select-body-div {
    margin: 1rem;
  }
  .projects-sub-header {
    margin: 0;
    padding: 0;
    width: 90%;
  }
  .projects-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40vh;
  }
   .projects-image {
    width: 26vw;
  }
  .projects-image-text {
    font-size: 1.25rem;
    width: auto;
  }
}

@media only screen and (max-width: 820px) {
  .bio-body-div {
    margin: 0 auto;
    height: 100%;
  }
  .bio-content-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4vw;
    height: 100%;
  }
  .bio-img-div {
    min-width: 60vw;
    margin-top: 1rem;
  }
  .bio-text-div {
    width: 80%;
    margin-top: 6vh;
  }
  .bio-text {
    font-size: 24px;
    line-height: 1.15;
  }
  .featured-body-div {
    margin: 2rem;
    display: inline-block;
  }
  .sample-img-div img {
    width: 90%;
  }
  .sample-text-div {
    width: 80%;
  }
  .sample-text {
    font-size: 24px;
  }
  .sample-img {
    display: inline;
    margin: 0;
  }
  .projects-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-auto-rows: 35vh;
  }
   .projects-image {
    width: 40vh;
  }
  .projects-image-text {
    font-size: 1.75rem;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .header-body-div {
    margin: 12vh 0 2vh 4vw;
  }
  .header-text {
    width: 100%;
  }
  .bio-body-div {
    margin: 0 auto;
    height: 100%;
  }
  .img-wrapper {
    margin-top: 2vh;
  }
  .projects-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-auto-rows: 35vh;
  }
   .projects-image {
    width: 40vh;
    height: 30vh;
  }
  .projects-image-text {
    font-size: 1rem;
    width: auto;
  }
  .sample-name-text {
    padding-top: 1rem;
    font-size: 1.25rem;
  }
  .sample {
    width: 100%;
  }
  .sample-img-div img {
    width: 75vw;
  }
  .sample-text-div {
    width: 100%;
  }
  .sample-text {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .footer-body-div {
    height: auto;
  }
}

@media only screen and (max-width: 667px) {
  .bio-body-div {
    margin: 0 auto;
    height: 100%;
  }
}

@media only screen and (max-width: 480px) {

  .nav-body-div{
    width: 100%;
    height: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0;
  }
  .menu-item {
    font-size: 1.5rem;
    margin: 0;
    padding: .25rem;
  }
  .nav-resume-link {
    padding: 0;
    margin: 0;
  }
  .menu-link {
    margin-top: 1rem;
  }
  .clock-div {
    display: none;
  }
  .header-body-div {
    margin: 0;
  }
  .header-text {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    line-height: 1.25;
  }
  .bio-body-div {
    height: auto;
  }
  .bio-content-div {
    flex-direction: column;
    align-items: center;
    padding: 4vw;
  }
  .bio-img-div {
    min-width: 70vw;
    margin-top: 1rem;
  }
  .bio-text-div {
    width: 80%;
    margin-top: 2vh;
  }
  .bio-text {
    font-size: 18px;
    line-height: 1.15;
  }
  .link {
    font-size: 16px;
    line-height: 1;
  }
  .featured-body-div {
    margin: 2rem;
  }
  .sample-img-div img {
    margin: .25vw;
  }
  .sample-text {
    font-size: 18px;
    line-height: 1.15;
  }
  .select-featured-body-div {
    padding: 0;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .select-body-div {
    margin: 1rem;
    display: block;
    align-items: center;
  }
  .projects-body-div {
    margin: 1rem;
  }
  .projects-sub-header {
    font-size: 14px;
  }
  .projects-sub-header-div {
    display: block;
  }
  .projects-header-text {
    width: 90%;
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  .projects-sub-header {
    margin: 0;
    padding: 0;
    width: 90%;
  }
  .projects-sub-header-laguage {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #laguage-types {
    font-size: 8px;
    padding: 4px;
  }
  .sub-menu-list {
    font-size: 12px;
  }
  .projects-image {
    width: 75vw;
    height: auto;
    margin: 0;
  }
  .select-section{
    display: block;
  }
  .sample-text {
    font-size: 12px;
  }
  .tag {
    font-size: 12px;
  }
  .footer-body-div {
    height: auto;
  }
  .footer-text-tag {
    font-size: 12px;
  }
  .footer-logo {
    font-size: 8px;
  }
}



.hidden-btn {
  width: 6vw;
  height: auto;
  background-color: transparent !important;
  color: transparent !important;
  border: none !important;
  align-items: left;
  margin: 0;
  padding: 0;
}

.hidden-body-div {
  margin: 5rem;
  padding: 0;
}
