@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  --scrollbarBG: whitesmoke;
  --thumbBG: #f2a3b3 ;
}
body::-webkit-scrollbar {
  width: 12px;
}
body {
  margin: 0 auto !important;
  font-family: 'Roboto', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Lexend', sans-serif; */
  /* font-family: 'Roboto Flex', sans-serif; */
  background-color: #f2f2f2;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);

  scroll-snap-type: y proximity;
  scroll-padding-top: 6rem;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 2.5px solid var(--scrollbarBG);
  transition: all .5s ease-in-out;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #FFE81F;
  cursor: grab;
}

::selection {
  color: #f2a3b3 ;
  background-color: #101820;
}


/* Nav Styles */

.nav-body-div {
  width: 100%;
  height: 16vh;
  position: fixed;
  top: 0;
  transition: top 0.25s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  margin: 4vw;
}

.menu-item {
  font-size: 2.15vw;
  font-weight: 300;
  display: inline-block;
  margin: 0 1.25vw;
  border: 2px solid #f2f2f2;
  padding: 0;
}
.menu-item:hover {
  cursor: pointer;
  color: #f2a3b3 ;
  border-bottom: 2px solid #101820;
}

#menu-link:hover {
  cursor: pointer;
  color: #f2a3b3 ;
}

#menu-link {
  text-decoration: none;
  color: #101820;
}

/* .nav-linkedin {
  width: auto;
} */

.nav-resume-link {
  width: auto;
  color: #101820;
}

/* Clock Styles */

.clock-div {
  margin: 4vw;
  font-size: 2.15vw;
  font-weight: 300;
}



/* Header Styles */

.header-body-div {
  margin-top: 12vw;
  margin-left: 6rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
}

.header-text {
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  font-size: 10.25vw;
  line-height: 15vh;
  letter-spacing: -.05vw;
  font-weight: 400;
  color: #101820;
  font-style: italic;
  z-index: 999;
}

#header-span {
  font-weight: 400;
}

/* Bio Styles */

.bio-body-div {
  width: 100%;
  height: 104vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
}

.bio-content-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bio-img-div {
  width: 35vw;
  height: 40vw;
  max-width: 40vw;
  max-height: 55vw;
  border-radius: 44px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 6px 2px #afafaf;
  background-color: #000;
}

.bio-img-div img {
  width: 100%;
  height: 100%;
  filter: grayscale(100);
  transition: transform .5s, filter .5s ease-in-out;
}
.bio-img-div img:hover {
  filter: grayscale(0);
  transition: transform .5s, filter .5s ease-in-out;
}

.bio-text-div {
  width: 35vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.bio-text {
  font-size: 2.25vw;
  font-weight: 300;
  line-height: 3vw;
  margin: 0;
}

.link {
  font-size: 2.25vw;
  font-weight: 300;
  color: #101820;
}

#bio-link {
    color: #101820;
}

#bio-link:hover {
  cursor: pointer;
  color: #f2a3b3 ;
  text-decoration: underline #101820;
}

#reach-out-link {
  font-size: 2.5vw;
  font-weight: 400;
  color: #101820;
  cursor: pointer;
}

#reach-out-link:hover {
  color: #f2a3b3;
}


/* Featured Styles */

.featured-body-div {
  margin: 6rem;
  padding: 0;
}

.sample-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sample {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sample-img-div img {
  width: 38vw;
  height: auto;
  margin: 6vh 0;
  border-radius: 44px;
  box-shadow: 0 10px 15px 0px #d1d1d1;
  transition: all 0.5s, filter 0.5s ease-in-out;
}

.sample-img-div:hover img {
  filter:brightness(100%);
  cursor: pointer;
  box-shadow: 0 40px 90px -5px #b5b5b5;
  transition: all 0.5s, filter 0.5s ease-in-out;
}

.sample-img-div {
  position: relative;
}

.sample-text-div {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sample-name-text {
  font-size: 2.25vw;
  font-weight: 300;
  margin: 0;
  text-align: start;
  border-bottom: 2px solid #f2f2f2;
}

.sample-name-text:hover  {
  color: #f2a3b3;
  border-bottom: 2px solid #101820;
}

#sample-link {
 
  text-decoration: none;
  color: #101820;
}

.sample-text {
  font-size: 1.5vw;
  margin-top: 1vh;
}


/* Salect Projects Styles */

.select-featured-body-div {
  margin: 5rem;
  padding: 0;
}

.select-body-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-section-info {
  width: 80vw;
  height: 80vh;
  border-radius: 28px;
  box-shadow: 0 0 10px 2px #969696;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-img {
  width: 20vw;
  height: 60vh;
  background-color: #101820;
  margin: 2vw;
}

/* Footer Styles */

.footer-body-div {
  height: 24vw;
  background-color: #101820;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

#all-pro {
  width: 16vw;
  font-size: 4vw;
  font-weight: 400;
}

.footer-logo {
  font-size: .75vw;
  padding: 0;
  margin-top: 5vw;
  color: #c7c7c7;
}

.footer-text {
  font-size: 1.75vw;
  font-weight: 300;
  line-height: 2vh;
  width: auto;
  text-decoration: none;
  color: #e0e0e0;
  border-bottom: 1px solid #101820;
}

.footer-text:hover {
  cursor: pointer;
  color: #f2a3b3 ;
}

.projects-link {
  font-size: 1.75vw;
  text-decoration: none;
}

.projects-link:hover {
  border-bottom: 1px solid #e0e0e0;
}

.footer-text-tag {
  font-size: 1.75vw;
  font-weight: 300;
  color: #e0e0e0;
  border-bottom: 1px solid #101820;
}

.footer-text-tag:hover {
  cursor: pointer;
  color: #f2a3b3 ;
  border-bottom: 1px solid #e0e0e0;
}

.tag {
  width: auto;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 300;
  border-bottom: 1px solid #101820;
}
.tag:hover {
  color: #f2a3b3 ;
  border-bottom: 1px solid #e0e0e0;
}



/* Resume Styles */

.resume-bodu-div {
  margin: 6rem;
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-div {
  width: 50vw;
  height: 90%;
  margin-top: 6rem;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px #969696;
  background-color: white;
}

#resume-img {
  height: 110%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Projects Styles */

.projects-sub-header {
  font-size: 3vw;
  font-weight: 400;
  line-height: 42px;
  padding: 0;
}

.scroll-text {
  font-size:10vw;
  font-weight: 400;
  padding: 0;
  text-decoration: underline;
  color: #e0e0e0;
  rotate: 90deg;
  margin: 0 auto;
}


.projects-body-div {
  margin: 6rem;
}

.projects-container {
  margin: 4rem 0;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-wrapper img {
  cursor: default;
}

#project-a {
  text-decoration: none;
}

.projects-image {
  max-width: 65vh;
  max-height: 60vh;
  width: 50vw;
  transition: .5s;
  vertical-align: top;
  transition: all .25s linear;
  margin-left: 4vw;
  margin-top: 2vw;
  border-radius: 28px;
  filter:brightness(75%);
  border-radius: 44px;
  box-shadow: 0 10px 15px 0px #d1d1d1;
  transition: all 0.5s, filter 0.5s ease-in-out;
}
 .projects-image:hover {
  filter:brightness(100%);
  cursor: default;
  filter:brightness(100%);
  box-shadow: 0 40px 90px -5px #b5b5b5;
  transition: all 0.5s, filter 0.5s ease-in-out;
}

.projects-image-text {
  /* width: auto; */
  font-size: 2vw;
  font-weight: 300;
  padding: 0;
  color: #000;
  margin-bottom: 4vw;
  margin-top: 4vh;
  margin-left: 4vw;
  border-bottom: 2px solid #f2f2f2;
}

.projects-image-text:hover {
  color: #f2a3b3;
  border-bottom: 2px solid #000;
}

.sample-img-div:hover img {
  filter:brightness(100%);
  cursor: pointer;
  box-shadow: 0 40px 90px -5px #b5b5b5;
  transition: all 0.5s, filter 0.5s ease-in-out;
}


/* Sub-menu Styles */

.sub-menu-list {
  padding: 0;
}

.sub-menu-item {
  font-size: 2vw;
  font-weight: 300;
  display: inline-block;
}
.sub-menu-item:hover {
  cursor: pointer;
  color: #f2a3b3;
  border-bottom: 2px solid #101820;
}


/* extra Styles */

.line-div {
  width: 100%;
  height: 1px;
  background-color: #101820;
  margin: 0 auto;
}

#disabled {
  cursor: default;
  color: #969696;
  border-bottom: #e0e0e0;
}
#disabled:hover {
  text-decoration: none;
}

/* Screen sizes Styles */

@media only screen and (max-width: 1100px) {
  .header-text {
    width: 100%;
    font-size: 80px;
    line-height: 80px;
  }

  .sample-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sample {
   width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .header-text {
    width: 100%;
    font-size: 10vw;
    line-height: 10vw;
  }
  .clock-div {
    display: none;
  }
  .bio-body-div {
    margin: 0 auto;
  }
  .bio-content-div {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .bio-img-div {
    width: 70vw;
    height: 90vw;
  }
  .bio-text-div {
    width: 60%;
    margin: 0 auto;
  }
  .bio-text {
    font-size: 5vw;
    line-height: 5vw;
  }
}